<!-- <div class="container">
<div class="modal-content" ngbAutofocus>
    <div class="modal-header">
      <h6 class="modal-title text-center">
        Are you sure want to delete ? </h6>
     
      <button type="button" class="btn-close"  data-bs-dismiss="modal" (click)="close()" aria-label="Close"></button>

    </div>
    <div class="modal-body text-right">
      <button class="btn btn-secondary btn-sm mr-1" (click)="close()">Cancel</button>&nbsp;
      <button class="btn btn-danger btn-sm" (click)="deletePeoReport()">Delete</button>
    </div>
  </div>
  
  
</div>
  
  
  
  
  
   -->
   <div class="modal-content" ngbAutofocus>
    <div class="modal-header">
      <h6 class="modal-title text-center">
        Are you sure want to delete ? </h6>
     
      <button type="button" class="btn-close"  data-bs-dismiss="modal" (click)="close()" aria-label="Close"></button>

    </div>
    <div class="modal-body text-right">
      <button class="btn btn-secondary btn-sm mr-1" (click)="close()">Cancel</button>&nbsp;
      <button class="btn btn-danger btn-sm" (click)="deletePeoReport()">Delete</button>
    </div>
  </div>
  
  
  
  
  
  
  
  
  